@font-face {
    font-family: Medium;
    src: url(/fonts/Stem-Medium.ttf);
}

@font-face {
    font-family: Regular;
    src: url(/fonts/Stem-Regular.ttf);
}

body {
    background-color: #E9F3F5;
    width: 1920px;
    height: 1080px;
}

.main_content {
    position: absolute;
    width: 600px;
    height: 672px;
    left: calc(50% - 600px/2);
    top: 176px;
    background-color: #FFFFFF;
}

.ImgLock {
    position: absolute;
    width: 220px;
    height: 220px;
    left: 190px;
    top: 80px;
}

.pRez {
    position: absolute;
    width: 327px;
    height: 36px;
    left: calc(50% - 327px/2 + 0.5px);
    top: 319px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #3F434A;
}

.pEmail {
    position: absolute;
    width: 35px;
    height: 18px;
    left: 100px;
    top: 410px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #8A9099;
}

.InEmail {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 100px;
    top: 450px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #3F434A;
    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
    padding: 0px 0px 0px 16px;
    border-radius: 15px;
}

.bInput {
    position: absolute;
    width: 410px;
    height: 40px;
    left: calc(50% - 400px/2);
    top: 511px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #304FFD;
    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
    padding: 10px 128px 10px 128px;
    border-radius: 15px;
}

.bInput:hover {
    background-color: #595F69;
    color: #FFFFFF;
}

.pBack {
    position: absolute;
    width: 164px;
    height: 18px;
    left: calc(50% - 164px/2);
    top: 620px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8A9099;
}

.aBack {
    text-decoration: none;
    color: #304FFD;
}

.aBack:hover {
    color: #595F69;
}