@font-face {
    font-family: Medium;
    src: url(/fonts/Stem-Medium.ttf);
}

@font-face {
    font-family: Regular;
    src: url(/fonts/Stem-Regular.ttf);
}

h4 {
    position: absolute;
    width: 183px;
    height: 36px;
    margin: 230px 0px 51px 212px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #3F434A;
}

button.google {
    position: absolute;
    width: 420px;
    height: 40px;
    left: 100px;
    top: 300px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    text-align: center;
    display: flex;
    color: #595F69;


    background-color: Transparent;
    background-repeat:no-repeat;


    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
    padding: 10px 128px 10px 128px;
    border-radius: 15px;
}

.google:hover {
    background-color: #595F69;
    color: #FFFFFF;
}

body {
    background-color: #304FFD;
    max-width: 1920px;
    max-height: 1080px;
}

div.prod {
    position: absolute;
    width: 600px;
    height: 884px;
    left: 900px;
    top: 70px;
    background: #FFFFFF;
    border-radius: 15px; 
}

div.title {
    width: 600px;
    height: 884px;
    left: 770px;
    top: 70px;
    background: #FFFFFF;
    border-radius: 15px; 
}

img.googleimg {
    position: absolute;
    width: 15px;
    height: 16px;
    left: 14px;
    top: 12px;
    padding: 0px 0px 0px 0px;
}

img.illustrat {
    position: absolute;
    width: 579.76px;
    height: 589.34px;
    left: 200px;
    top: 250px;
}

p.pAbo {
    position: absolute;
    width: 200px;
    height: 18px;
    margin: 380px 0px 202px 202px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #8A9099;
    opacity: 0.6;
}

.title::before {
    content:'';
    display: block;
    width: 90px;
    left: 100px;
    height: 2px;
    background-color: #E8E9EB;
    position: absolute;
    top:389px;
}

.title::after {
    content:'';
    display: block;
    width: 90px;
    height: 2px;
    background-color: #E8E9EB;
    position: absolute;
    left: 410px;
    top:388px;
}

.pMal{
    position: absolute;
    width: 35px;
    height: 18px;
    left: 100px;
    top: 430px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #8A9099;
}

.InEmail {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 100px;
    top: 465px;
    border-radius: 15px;
    padding: 0px 00px 0px 16px;
    font-family: Medium;
    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
}

.pPass {
    position: absolute;
    width: 50px;
    height: 18px;
    left: 100px;
    top: 520px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #8A9099;
}

.InPass {
    position: absolute;
    width: 380px;
    height: 40px;
    left: 100px;
    top: 560px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #3F434A;
    padding: 0px 00px 0px 16px;
    border-radius: 15px;
    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
}

.password-control {
	position: absolute;
	top: 578px;
	left: 465px;
	display: inline-block;
}

.pBox {
    position: absolute;
    width: 130px;
    height: 18px;
    left: 100px;
    top: 631px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #595F69;
}

.Lose {
    position: absolute;
    width: 112px;
    height: 18px;
    left: 380px;
    top: 631px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #304FFD;
    text-decoration: none;
}

.Lose:hover {
    color: #595F69;
}

.btn {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 100px;
    top: 680px;
    font-family: Medium;
    font-style: normal;
    font-weight: 500px;
    font-size: 15px;

    text-align: center;
    display: flex;
    color: #FFFFFF;


    background-color: #304FFD;


    border-left: 0.7px solid #E8E9EB;
    border-top: 0.7px solid #E8E9EB;
    border-bottom: 0.7px solid #E8E9EB;
    border-right: 0.7px solid #E8E9EB;
    padding: 10px 178px 10px 179px;
    border-radius: 15px;
}

.btn:hover {
    background-color: #595F69;
    color: #FFFFFF;
}

.pNotAk {
    position: absolute;
    width: 270px;
    height: 18px;
    left: 100px;
    top: 830px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #8A9099;
}

.aReg {
    position: absolute;
    width: 270px;
    height: 18px;
    left: 170px;
    top: 844px;
    font-family: Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #304FFD;
    text-decoration: none;
}

.aReg:hover {
    color: #595F69;
}